@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>

 <style>
     body{

         background-image: url('../assets/img/apartment.jpg');
         background-size:100%;
     }
     .bgimg {
         background-image: url('../images/divbg.png');
     }


 </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>

     
    </div>


</body>
</html>
