<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
        <span class="logo">
            <a href="../Home/Index">YönetTech</a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>
    <nav class="sidebar-navigation">
        <ul class="menu">

            <li class="menu-item">
                <a class="menu-link" href=#>
                    <span class="title">Kullanıcılar</span>
                    <span class="arrow"></span>
                    <span class="icon ti-user"></span>

                </a>
                <ul class="menu-submenu" style="display: block;">
                    <li class="menu-item">
                        <a class="menu-link" href="/Account/Register">
                            <span class="dot"></span>
                            <span class="title">Kullanıcı Ekle</span>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a class="menu-link" href="/Personels/GetAllPersonels">
                            <span class="dot"></span>
                            <span class="title">Tüm Kullanıcılar</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="menu-item">
                <a class="menu-link" href=#>
                    <span class="title">Apartmanlar</span>
                    <span class="arrow"></span>
                    <span class="icon fa fa-building"></span>

                </a>
                <ul class="menu-submenu" style="display: block;">
                    <li class="menu-item">
                        <a class="menu-link" href="/Apartments/ApartmentAdd">
                            <span class="dot"></span>
                            <span class="title">Apartman Ekle</span>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a class="menu-link" href="/Apartments/GetAllApartments">
                            <span class="dot"></span>
                            <span class="title">Tüm Apartmanlar</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="menu-item">
                <a class="menu-link" href=#>
                    <span class="title">Daireler</span>
                    <span class="arrow"></span>
                    <span class="icon fa fa-home"></span>
                </a>
                <ul class="menu-submenu" style="display: block;">
                    <li class="menu-item">
                        <a class="menu-link" href="/Housing/HousingAdd">
                            <span class="dot"></span>
                            <span class="title">Daire Ekle</span>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a class="menu-link" href="/Housing/GetAllHousings">
                            <span class="dot"></span>
                            <span class="title">Tüm Daireler</span>
                        </a>
                    </li>

                </ul>
            </li>

            



        </ul>


    </nav>
</aside>